@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

body {
  padding: 0;
  line-height: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 130%;

  /* Tablet styles */
  /* @media screen and (min-width: theme('screens.md')) and (max-width: theme('screens.lg')) {
    font-size: 16px;
    line-height: 120%;
  } */
}

/* Инпут аудио */
.input-audio {
  background-color: var(--colors-audioInputColor);
  /* Добавьте другие стили, такие как размер шрифта, высота строки и т. д. */
}

/* Графика аудио */
.audio-graphics {
  color: var(--colors-audioGraphicsColor);
}

/* Поле ввода сообщения */
.message-input {
  background-color: var(--colors-messageInputColor);
}

/* Обводка для кнопок */
.button-outline-white {
  border: 1px solid var(--colors-buttonOutlineWhite);
}

.button-outline-transparent {
  border: 1px solid var(--colors-buttonOutlineTransparent);
}

/* Подложка Юнити */
.unity-background {
  background-color: var(--colors-unityBackgroundBlack);
  width: 310px; /* Пример ширины, подстройте под ваши требования */
}

/* Фон чата (градиент) */
.chat-background {
  background: linear-gradient(
    to bottom,
    var(--colors-chatBackgroundGradientStart),
    var(--colors-chatBackgroundGradientEnd)
  );
}

/* Background для input и звукового поля */
.input-sound-field {
  background-color: var(--colors-inputAndSoundFieldBackground);
}

.gradient-border {
  align-items: center;
  background-clip: content-box, border-box;
  background-image: linear-gradient(#171717, #171717),
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), 47.83%, white);
  background-origin: border-box;
  border: 1px double transparent;
  border-radius: 150px;
  cursor: pointer;
}

/* Стили для инпута */
.input {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 130%;

  /* Tablet styles */
  @media screen and (min-width: theme('screens.md')) and (max-width: theme('screens.lg')) {
    font-size: 18px;
  }
}

/* Стили для ссылки */
.link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;

  /* Tablet styles */
  @media screen and (min-width: theme('screens.md')) and (max-width: theme('screens.lg')) {
    font-size: 14px;
  }
}

/* Стили для ошибки */
.error {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  line-height: 130%;

  /* Tablet styles */
  @media screen and (min-width: theme('screens.md')) and (max-width: theme('screens.lg')) {
    font-size: 16px;
    line-height: 120%;
  }
}
